th{
      border-bottom:solid 1px ;
      font-size: 1.5rem;
      width: 10rem;
}

#table_1{
      border-collapse: collapse;
      width: 35%;
      margin: auto;
      text-align: center;
}

h1{
      text-align: center;
      font-size: 2.5rem;
}

td{
      border-bottom :solid 1px;
      font-size: 1.5rem;
}

a{
      text-decoration: none;
      color : black;
      font-family : 굴림;
      font-weight: bold;
      float: left;
      font-size: 20px;
}

.btn{
      border: none;
      border-radius: 10%;
      color: black;
      padding: 15px 30px;
      text-align: center;
      text-decoration: none;
      float: right;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
}

.btn2{
      border: none;
      border-radius: 10%;
      color: black;
      padding: 15px 30px;
      text-align: center;
      text-decoration: none;
      float: right;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      margin-right: 600px;  
}

#btn_position{
      margin-right: 600px; 
}

#comment{
      width: 100%; 
      text-align: center; 
      margin: auto; 
      border-collapse: collapse;
}

#new-comment{
      width:35%; 
      border:1; 
      overflow:visible;
       text-overflow:ellipsis;
}

#table_2 {
      border-collapse: collapse;
      width: 35%;
      margin: auto;
      text-align: center;
}